{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#mangas" data-toggle="tab">Mangas</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="mangas">
        {% if mangas %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for manga in mangas %}
                <tr>
                {# {{ dump(manga) }} #}
                    <td><a class="mangaTitle" href="{{ path('manga', { 'id': manga.idManga }) }}">{{ manga.nameManga }}</a></td>
                    <td>{{ manga.DescriptionManga | truncate(60) }}</td>
                    <td>
                        <a href="{{ path('admin_manga_edit', { 'id': manga.idManga }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#mangaDialog{{ manga.idManga }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="mangaDialog{{ manga.idManga }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Besoin de confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez vous vraiment supprimer ce manga ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_manga_delete', { 'id': manga.idManga }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">No mangas found.</div>
        {% endif %}
    </div>        
    </div>
</div>
{% endblock %}
