{% extends "layout.html.twig" %}

{% block name %}{% endblock %}

{% block content %}
<h2>{{ manga.NameManga }}</h2>
<div class="container-fluid"> 
<div class="col-xs-4">
    {# <img src="../manga.IdManga"/> #}
</div>
<div class="col-xs-8">
    <p><strong>Description : </strong>{{ manga.DescriptionManga}} </p>
    <p><strong>Année de publication : </strong>{{ manga.DatePublicationManga }} </p>
</div>
</div>
<div class="col-xs-12">

<button type="button" id="followButton" data-loading-text="Chargement..." class="btn btn-primary" autocomplete="off">
  Suivre ce manga
</button>

<p id="userid" style="display:none"> {{ app.user.id }} </p>
<p id="mangaid" style="display:none"> {{ manga.IdManga }} </p>

</div>
<script src="/js/main.js"></script>
{% endblock %}